body {
	font-family: 'Raleway', sans-serif;
	color: rgba(10,10,10,0.65);
}

header {
	padding: 150px 0;
	background-image: url("ceu-topo.png")
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 10px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

footer {
	text-align: center;
	background: url("iceberg.jpg") ;
}

.aviso-final {
	color: #FFFFFF;
	font-size: 13px;
	padding: 20px 0 20px 0;
}

/* css da página inicial */

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	text-align: justify;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.img-esquerda {
	float: left;
	border: 10px 20px 10px 20px;
	max-height: 13em;
	padding: 10px 20px 10px 20px;
}

.img-esquerda-cv {
	float: left;
	border: 10px 20px 10px 20px;
	max-height: 13em;
	padding: 0 20px 20px 30px;
}

.img-direita {
	float: right;
	border: 10px 20px 10px 20px;
	max-height: 13em;
	padding: 10px 20px 10px 20px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, rgb(97,185, 233));
}
.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.conteudo-experiencia {
	margin: 0 auto;
}

.lista-cv {
	display: inline-block;
	vertical-align: top;
}

img {
	opacity: 1;
	transition: 400ms;
}

img:hover {
	opacity: 0.7
}

.itens {
	line-height: 1.5;
	font-size: 1em;
	margin: 0 0 1em;
	clear: left;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
}

.itens:hover {
	color: #DDDDDD;
}

.itens:before {
	content: "✯";
}

.logo-principal {
	transition: 3s;
	transform: rotate(360deg);
	height: 20%;
	width: 350px;
}

.logo-principal:hover {
	opacity: 0.3
}

.perfil:hover {
	transition: 4s;
	transform: rotate3d(7, 0, 3, 192deg);
}
.perfil {
	max-height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.conteudo-experiencia p {
	font-size: 0.8em;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-experiencia, .mapa-conteudo, {
		width: auto;
	}
	h1 {
		text-align: center;
	}
	.img-esquerda-cv {
		max-height: 4.2em;
	}

	nav {
		position: static;
	}
	.lista-cv {
		width: 100%;
	}
}
